html{
    background-color: green;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}
.openRelay{
   color: green;
}
.closeRelay{
   color: red;
}

.flex {
    display: flex;
    //align-items: center;
    justify-content: center;
    gap: 1rem;
  
}
.flexitem{
 padding: .5em;
   border: solid white;
}
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
 text-align: left;
}
body {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}
.heading{
    padding: 10px;
}
#passwordnput{
    padding-top: 5px;
    text-align: center;
    width: 100px;
    
}
header
{
    padding-bottom: 15px;
}

/* 3. Make sure that the two buttons have some space between
each other when they are rendered out vertically */
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.bar-chart {
    background-color: #C7D9D9;
    }
    
.bar {
     fill: #115D8C;
     }
